@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    text-shadow: 2px 2px 1px black;
    color: white;
}

.doorlock {
    width: 100px;
    height: 100px;
    position: fixed;
    color: white;
    margin: 0 auto;
    font-size: 1.3em;
    vertical-align: top;
    text-align: center;
    transform: translate(-50%, -20%);
}

.form {
    width: 300px;
    height: 485px;
    padding: 20px;
    padding-top: 0;
    background-color: rgba(10, 10, 10, 1);
    position: fixed;
    margin: auto;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    border-radius:5px;
    font-size: 10pt;
    line-height:2pt;
}

.line {
    border: 0;
    border-top: 2px solid rgba(255,255,255,0.05);
    border-radius:2px;
}

option {
    color: black;
}


input[type=text], .dropdown, #submit {
    padding:8px;
    margin-top:3px;
    border:0;
    color: white;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.05);
}

#submit {
    padding:2px;
}